.about-us-card {
    padding: 15px;
    width: fit-content;
}

.about-us-detail-card {
    padding: 15px;
    border-radius: 10px;
    background: lightblue;
}

.about-us-card-carousel {
    border-radius: 10px;
    padding: 15px;
    background: #d3d3d3;
    height: 100%;
}

