.results-container {
  margin: 10px 10px;
}

.results-list {
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 10px 10px;
}

.results-list-item-text-name {
  margin: 0px 10px;
  min-width: 35% !important;
  max-width: 35% !important;
  word-wrap: break-word !important;
  overflow: hidden;
}

.results-list-item-text-album {
  margin: 0px 20px;
}
