.nav-bar {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.nav-bar a {
  font-family: Arial, serif;
  color: white;
  text-align: center;
  float: right;
  font-size: 20px;
  padding: 15px 15px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: grey;
  color: white;
}

.active {
  background-color: darkgrey;
  color: white;
}

.active-home {
  background-color: darkgrey;
  color: white;
}

.logo {
  float: left;
}
.logo-link.active {
  color: white;
  background-color: black;
}

.about-us-card {
  padding: 15px;
  width: fit-content;
}

.about {
  margin: 0;
  padding: 0;
  text-align: center;
}

.about-us-card-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.about-us-detail-card {
  padding: 15px;
  border-radius: 10px;
  background: lightblue;
}

.about-us-card-carousel {
  border-radius: 10px;
  padding: 15px;
  background: #d3d3d3;
  height: 100%;
}

.about-us-headers {
  margin: 0;
  padding: 0;
}

#vibe-sphere-description {
  padding: 30px;
  font-size: 18px;
}

.nav-bar a.active {
  background-color: darkgrey;
  color: white;
}

#carousel {
  width: 80%;
  margin: auto;
}

.carousel-container {
  width: 100%;
}

.carousel-title {
  margin-left: 12%;
}

.carousel-image {
  width: 100px;
  height: 100px;
}

.carousel-song-group {
  display: flex;
  justify-content: left;
}

.carousel-song {
  word-wrap: normal;
  width: 30%;
  margin: 20px;
}

.carousel-song-title {
  height: 40px;
  font-size: 16px;
}

.carousel-song-artist {
  color: gray;
}
